IoT 5 sensor.json
[{"id":"main_flow","type":"tab","label":"ESP32 IoT Complete System","disabled":false,"info":"Complete IoT System with 4 Sensors and 3 Actuators"},{"id":"mqtt_temp","type":"mqtt in","z":"main_flow","name":"Temperature","topic":"Klp2/esp32/temperature","qos":"0","datatype":"auto","broker":"c1044b978e917b16","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":80,"wires":[["gauge_temp","chart_temp"]]},{"id":"mqtt_humid","type":"mqtt in","z":"main_flow","name":"Humidity","topic":"Klp2/esp32/humidity","qos":"0","datatype":"auto","broker":"c1044b978e917b16","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":160,"wires":[["gauge_humid","chart_humid"]]},{"id":"mqtt_dist","type":"mqtt in","z":"main_flow","name":"Distance","topic":"Klp2/esp32/distance","qos":"0","datatype":"auto","broker":"c1044b978e917b16","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":240,"wires":[["gauge_dist","chart_dist"]]},{"id":"mqtt_light","type":"mqtt in","z":"main_flow","name":"Light Level","topic":"Klp2/esp32/light","qos":"0","datatype":"auto","broker":"c1044b978e917b16","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":320,"wires":[["gauge_light","chart_light"]]},{"id":"mqtt_motion","type":"mqtt in","z":"main_flow","name":"Motion","topic":"Klp2/esp32/motion","qos":"0","datatype":"auto","broker":"c1044b978e917b16","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":400,"wires":[["text_motion"]]},{"id":"gauge_temp","type":"ui_gauge","z":"main_flow","name":"","group":"612672b4956a032f","order":1,"width":"3","height":"3","gtype":"gage","title":"Suhu","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"35","diff":false,"className":"","x":350,"y":60,"wires":[]},{"id":"chart_temp","type":"ui_chart","z":"main_flow","name":"","group":"612672b4956a032f","order":2,"width":"9","height":"3","label":"Grafik Suhu","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Menunggu data...","dot":false,"ymin":"0","ymax":"50","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":360,"y":100,"wires":[[]]},{"id":"gauge_humid","type":"ui_gauge","z":"main_flow","name":"","group":"612672b4956a032f","order":3,"width":"3","height":"3","gtype":"gage","title":"Kelembaban","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"70","x":360,"y":140,"wires":[]},{"id":"chart_humid","type":"ui_chart","z":"main_flow","name":"","group":"612672b4956a032f","order":4,"width":"9","height":"3","label":"Grafik Kelembaban","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Menunggu data...","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c"],"outputs":1,"useDifferentColor":false,"x":370,"y":180,"wires":[[]]},{"id":"gauge_dist","type":"ui_gauge","z":"main_flow","name":"","group":"612672b4956a032f","order":5,"width":"3","height":"3","gtype":"gage","title":"Jarak","label":"cm","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"250","diff":false,"className":"","x":350,"y":220,"wires":[]},{"id":"chart_dist","type":"ui_chart","z":"main_flow","name":"","group":"612672b4956a032f","order":6,"width":"9","height":"3","label":"Grafik Jarak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Menunggu data...","dot":false,"ymin":"0","ymax":"400","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":360,"y":260,"wires":[[]]},{"id":"gauge_light","type":"ui_gauge","z":"main_flow","name":"","group":"612672b4956a032f","order":7,"width":"3","height":"3","gtype":"gage","title":"Cahaya","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#2c3e50","#f39c12","#f1c40f"],"seg1":"30","seg2":"70","diff":false,"className":"","x":350,"y":300,"wires":[]},{"id":"chart_light","type":"ui_chart","z":"main_flow","name":"","group":"612672b4956a032f","order":8,"width":"9","height":"3","label":"Grafik Intensitas Cahaya","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Menunggu data...","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f39c12","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":390,"y":340,"wires":[[]]},{"id":"text_motion","type":"ui_text","z":"main_flow","group":"612672b4956a032f","order":9,"width":"12","height":"2","name":"","label":"Status Gerakan","format":"{{msg.payload == '1' ? '🚶 GERAKAN TERDETEKSI!' : '✓ Tidak ada gerakan'}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":360,"y":400,"wires":[]},{"id":"switch_led","type":"ui_switch","z":"main_flow","name":"","label":"LED","tooltip":"Kontrol LED ON/OFF","group":"ui_group_actuators","order":1,"width":"5","height":"1","passthru":false,"decouple":"false","topic":"Klp2/esp32/led/control","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"yellow","offvalue":"OFF","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"grey","animate":false,"className":"","x":130,"y":500,"wires":[["mqtt_led_out"]]},{"id":"switch_relay","type":"ui_switch","z":"main_flow","name":"","label":"Relay (AC Device)","tooltip":"Kontrol Relay ON/OFF","group":"ui_group_actuators","order":2,"width":"5","height":"1","passthru":false,"decouple":"false","topic":"Klp2/esp32/relay/control","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"fa-plug","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"fa-plug","offcolor":"grey","animate":false,"className":"","x":150,"y":560,"wires":[["mqtt_relay_out"]]},{"id":"switch_buzzer","type":"ui_switch","z":"main_flow","name":"","label":"Buzzer","tooltip":"Kontrol Buzzer ON/OFF","group":"ui_group_actuators","order":3,"width":"5","height":"1","passthru":false,"decouple":"false","topic":"Klp2/esp32/buzzer/control","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"fa-volume-up","oncolor":"red","offvalue":"OFF","offvalueType":"str","officon":"fa-volume-off","offcolor":"grey","animate":false,"className":"","x":140,"y":620,"wires":[["mqtt_buzzer_out"]]},{"id":"mqtt_led_out","type":"mqtt out","z":"main_flow","name":"LED Control","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1044b978e917b16","x":370,"y":500,"wires":[]},{"id":"mqtt_relay_out","type":"mqtt out","z":"main_flow","name":"Relay Control","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1044b978e917b16","x":380,"y":560,"wires":[]},{"id":"mqtt_buzzer_out","type":"mqtt out","z":"main_flow","name":"Buzzer Control","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1044b978e917b16","x":390,"y":620,"wires":[]},{"id":"mqtt_led_status","type":"mqtt in","z":"main_flow","name":"LED Status","topic":"Klp2/esp32/led/status","qos":"0","datatype":"auto","broker":"c1044b978e917b16","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":720,"wires":[["text_led_status"]]},{"id":"mqtt_relay_status","type":"mqtt in","z":"main_flow","name":"Relay Status","topic":"Klp2/esp32/relay/status","qos":"0","datatype":"auto","broker":"c1044b978e917b16","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":780,"wires":[["text_relay_status"]]},{"id":"mqtt_buzzer_status","type":"mqtt in","z":"main_flow","name":"Buzzer Status","topic":"Klp2/esp32/buzzer/status","qos":"0","datatype":"auto","broker":"hivemq_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":840,"wires":[["text_buzzer_status"]]},{"id":"text_led_status","type":"ui_text","z":"main_flow","group":"ui_group_actuators","order":1,"width":"4","height":"1","name":"","label":"Status LED:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":360,"y":720,"wires":[]},{"id":"text_relay_status","type":"ui_text","z":"main_flow","group":"ui_group_actuators","order":2,"width":"4","height":"1","name":"","label":"Status Relay:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":370,"y":780,"wires":[]},{"id":"text_buzzer_status","type":"ui_text","z":"main_flow","group":"ui_group_actuators","order":3,"width":"4","height":"1","name":"","label":"Status Buzzer:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":370,"y":840,"wires":[]},{"id":"c1044b978e917b16","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"612672b4956a032f","type":"ui_group","name":"Data Sensor Real-time","tab":"ui_tab_monitor","order":1,"disp":true,"width":"12"},{"id":"ui_group_actuators","type":"ui_group","name":"Kontrol Aktuator","tab":"ui_tab_monitor","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"hivemq_broker","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"ui_tab_monitor","type":"ui_tab","name":"Sensor Monitoring","icon":"dashboard","order":1},{"id":"13d9bdfc764981d6","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]